.title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.blog {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	border: 2px solid #e4e4e4;
	margin-top: -2px;
	padding: 10px;

	background-color: #fcfcfc;

	a {
		color: black;
		font-weight: 600;
		font-size: 16px;
	}

	h3 {
		margin-top: 8px;
	}
}

.actions {
	display: flex;
	align-items: center;
	column-gap: 10px;

	button {
		height: 28px;
		width: 80px;

		font-weight: 800;
		color: white;
		border: none;
	}

	.preview-button {
		background: #ffc94b;
	}

	.delete-button {
		background-color: #f17a7e;
	}

	.edit-button {
		background: #f9a66c;
	}
}

.new-blog {
	background-color: #2f981e;
	color: white;
	font-weight: 800;
	font-size: 24px;

	height: 48px;
	width: 80px;

	border: none;
}
